@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.container {
  padding: 10px 10px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0d0d0d;
}
.title {
  margin-bottom: 5px;
  font-size: 2.3em;
  text-align: center;
  color: #0378a6;
}

.wrapper {
  background: #f2f2f2;
  padding: 30px;
  width: 500px;
  border-radius: 5px;
}

.form input {
  width: 90%;
  border-radius: 5px;
  padding: 6px 14px;
  outline-color: #0378a6;
  border: 0;
  transition: 0.2s;
}
.form input::placeholder {
  color: gray;
  font-size: 15px;
}
.form button {
  border-radius: 5px;
  padding: 5px;
  background-color: #1ba0f2;
  color: #f2f2f2;
  border: 0;
}
.form button:hover {
  background-color: #0597f2;
}
.list-section {
  padding: 20px;
  width: 100%;
}
/* .list{
    display: flex;
    flex-direction: row;
} */

.list-section .list li {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 3px;
  margin: 5px 0;
  background-color: #fff;
  border-left: 5px solid #0378a6;

}
.list-section .list li input{
  border-color: #0378a6;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  background-color: #f2f2f2;
  padding: 5px;
  outline: none;
  width: 80%;
  transition: 0.5s;
  text-overflow: inherit;
  white-space: initial;
  overflow: visible;
  
}
.list-section .list li input:disabled{
  border: 0;
  color: #0d0d0d;
  background-color: #fff; 

}
.btn{
  margin-left: 5px;
  border-radius: 5px;
  border: 0;
  padding: 5px;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn i{
  font-size: 24px;
}

.btn_danger:hover {
  background-color: #d32020;
  color: #f2f2f2;
}
.btn_info:hover {
  background-color: #dd7a08;
  color: #ffffff;
 
}
.btn_success:hover{
  background-color: #0597f2;
  color: #ffffff;
}
.empty{
    text-align: center;
}
.is_invalid{
    background-color: #d32020;
    color: #fff;
    padding: 5px;
}
